:root
{
    --bg-light: #c0c0c0;
    --bg-dark: #2e2e2e;
    --bg-dark2: #1e1e1e;

    --border-light:#505050;
    --border-dark: #a0a0a0;
    

    --text-font-primary: "Arial";
    --text-col-light: #1e1e1e;
    --text-col-dark:    #b8cae6;
    --text-col-connectionDisplay: #4a6f9c;

    --btn-tool-normal: #85b3de;
    --btn-tool-hover: #b7c8df;
    --btn-tool-selected: #5dba57;

    --btn-tool-style-del: #7b2222;
}

.toolbutton
{
    background-color: var(--btn-tool-normal);
}

.style-del
{
    background-color: var(--btn-tool-style-del);
}

.toolbutton:hover
{
    background-color: var(--btn-tool-hover);
}

.toolbutton:active
{
    background-color: var(--btn-tool-normal);
}

.toolbar
{
    display: flex;
}

.toolbarinfo
{
    align-items: center;
    vertical-align: middle;
    width: 50%;
}

.style-text-default
{
    font-family: var(--text-font-primary);
    color: var(--text-col-dark);
    font-size: 20px;
}

.style-text-size-15
{
    font-size: 15px;
}

.style-h1-default
{
    font-family: var(--text-font-primary);
    color: var(--text-col-dark);
    font-size: 40px;
}

body
{
    background-color: var(--bg-dark);
}

.style-ul-none
{
    padding-left: 10px;
    padding-right: 10px;
    list-style: none;
}

#tooldiv li
{
    display: inline;
}

.propertiesPanel
{
    border-radius: 5px;
    background-color: var(--bg-dark2);
}

.canvasPanel
{
    display: flex;
}

.textarea
{
    width: 100%;
}

#connectionContainer
{
    /*border: var(--border-dark) 2px solid;*/
    text-align: center;
    Width: 100%;
    font-family: var(--text-font-primary);
    color: var(--text-col-connectionDisplay);
    margin-bottom: 5%;
}

#connectionContainer p 
{
    width: 100%;
}